<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.airlocksoftware.encryptifyandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/EncryptifyAndroidTheme" >
        <activity
            android:name="com.airlocksoftware.encryptifyandroid.PerformEncryptionActivity"
            android:label="@string/app_name" >
        </activity>

        <receiver
            android:name="com.airlocksoftware.encryptifyandroid.EADeviceAdminReceiver"
            android:description="@string/device_encryptify_admin_description"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.ACTION_DEVICE_ADMIN_DISABLE_REQUESTED" />
                <action android:name="android.app.action.ACTION_DEVICE_ADMIN_DISABLED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>